body{
    font-family: "Titillium Web", sans-serif;
    background-color: #24353F;
}
a{
    text-decoration: none;
    color: white;
}
.navbar{
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}
.form-control{
    background-color: #24353F;
}
.form-control:focus {
    color: transparent;
    background-color: #24353F;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0 transparent;
}
button{
    background-color: aqua;
}
.box{
    box-shadow: -5px 5px 50px -9px rgba(0, 0, 0, 1);
}
.box h1{
    color: 
    RGB(23, 162, 184);
    font-size:40px ;
    font-weight: 500;
}
.box p{
    font-size:16px ;
    font-weight: 400;
}